<h2 class="header underline">${genericRest.header.mainSettings}</h2>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverName}:</div>
    </div>
    <div class="column grid3of5">
        {{interfaceConfig.exportableInterfaceSettings.serverName}}
    </div>
</div>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverIPAddress}:</div>
    </div>
    <div class="column grid3of5">
        {{interfaceConfig.exportableInterfaceSettings.serverIPAddress}}
    </div>
</div>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverCity}:</div>
    </div>
    <div class="column grid3of5">
        {{interfaceConfig.exportableInterfaceSettings.serverCity}}
    </div>
</div>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverState}:</div>
    </div>
    <div class="column grid3of5">
        {{interfaceConfig.exportableInterfaceSettings.serverState}}
    </div>
</div>

<h2 class="header underline">${genericRest.header.credentials}</h2>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverUserName}</div>
    </div>
    <div class="column grid3of5">
        {{interfaceConfig.interfaceSettings.serverUserName}}
    </div>
</div>

<div class="row">
    <div class="column grid2of5">
        <div class="label">${genericRest.label.serverPassword}</div>
    </div>
    <div class="column grid3of5">
         {{interfaceConfig.interfaceSettings.serverPassword}}
    </div>
</div>

<h2 class="header underline">${genericRest.header.contacts}</h2>

<div id="contactListEmpty" ng:show="interfaceConfig.interfaceSettings.contacts.length == 0">
    <p>${genericRest.default.noContacts}</p>
</div>

<ul>
    <li ng:repeat="contact in interfaceConfig.interfaceSettings.contacts">
      <b>{{contact.type}}</b>: {{contact.value}}
    </li>
</ul>
