<!-- Interface Settings Form for generic-rest Interface. -->
<script type="text/javascript">
//<![CDATA[
    // @Overridden
    function defineInterfaceSettings() {
        return {
            baseUrl : "",
            features : [],
            notificationMethod : "WebSocket",
            subscriptionInfo : subscriptionInfoDefaults()
        };
    }

    function subscriptionInfoDefaults() {
        return {
            subscriptionUrl:"",
            specifyHttpServer : false,
            heartbeatInterval:60,
            notificationTypes: [notificationTypesDefaults()]
        };
    }

    function notificationTypesDefaults() {
        return {
            referenceName:"Notification Type1",
            datasets: {
                startingDataset: null
            },
            notificationRegex:"",
            fieldTypes : [fieldTypeDefaults()]
        };
    }

    function fieldTypeDefaults() {
        return {
            fieldName : "",
            fieldRegex:"",
            fieldValueRegex:"",
            fieldMapping:[]
        };
    }

    // @Overridden
    function defineExportableInterfaceSettings() {
        return {
        };
    }

    // @Overridden
    function addControllerFields(controller) {
        controller.fieldType = fieldTypeDefaults();
        controller.notificationType = notificationTypesDefaults();
        controller.notificationMethods = {
            "WebSocket":"${genericRest.label.webSocket}",
            "hostedHTTPServer":"${genericRest.label.hostedHTTPServer}",
        };

        controller.getCurrentDatasets();
        console.log("fieldTypes: " + controller);
        controller.print = function(fieldTypes) {
            console.log("length:" + fieldTypes.subscriptionUrl);
            console.log("length:" + fieldTypes.fieldTypes.length);
        }

        controller.featuresArray = [
            {
                "value" : "WS-ALARM-SUBSCRIBE",
                "label" : "WS-ALARM-SUBSCRIBE"
            },
            {
                "value" : "WS-ALARM-PUBLISH",
                "label" : "WS-ALARM-PUBLISH"
            }]
    }
    
    // @Overridden
    function addValidationPatterns(controller) {
        controller.state = /^[A-Z][A-Z]$/;
    }

//]]>
</script>

<!-- Define the validation error messages for the form here. -->
<div id="validationError" style="display:none;" class="alert_box error" ng:show="settingsForm.$invalid">
    <ul>
    </ul>
</div>

<fieldset>
    <legend>${genericRest.header.mainSettings}</legend>

    <div class="row">
        <div class="column grid2of5"><label>${genericRest.label.notificationMethod}</label></div>
        <div class="column grid3of5">
            <div class="boxed">
                <select ei:name= "notificationMethod"
                        ng:options="id as value for (id, value) in notificationMethods"
                        ng:model="form.interfaceSettings.notificationMethod" class="formElement" required>
                </select>
            </div>
        </div>
        <div class="description">${genericRest.description.notificationMethod}</div>
    </div>
</fieldset>

<fieldset>
    <legend>${tacera.header.info}</legend>
    <div class="row">
        <div class="column grid2of5">
            <label for="baseUrl">${tacera.label.baseUrl}</label>
        </div>
        <div class="column grid3of5">
            <div class="boxed">
                <input type="baseUrl" id="baseUrl" name="baseUrl" ng:model="form.interfaceSettings.baseUrl" class="formElement" required/>
            </div>
        </div>
        <div class="description">${tacera.description.baseUrl}</div>
    </div>

    <div class="row">
        <div class="column grid2of5">
            <label for="apiKey">${tacera.label.apiKey}</label>
        </div>
        <div class="column grid3of5">
            <div class="boxed">
                <input type="apiKey" id="apiKey" name="apiKey" ng:model="form.interfaceSettings.apiKey" class="formElement"/>
            </div>
        </div>
        <div class="description">${genericRest.description.apiKey}</div>
    </div>

    <div class="row">
        <div class="column grid2of5">
            <label for="features">${tacera.label.features}</label>
        </div>
        <div class="column grid3of5">
            <div class="boxed">
                <select multiple id="features" ei:name="features"
                        ng:model="form.interfaceSettings.features" class="formElement"
                        ng:options="feature.value as feature.label for feature in featuresArray">
                </select>
            </div>
        </div>
        <div class="description">${clinicalApiPublisher.description.facilities}</div>
    </div>
</fieldset>

<fieldset ng:show = "form.interfaceSettings.notificationMethod == 'WebSocket'">
    <legend>${genericRest.header.subscriptionInfo}</legend>
    <div class="row">
        <div class="column grid2of5">
            <label for="subscriptionUrl">${genericRest.label.subscriptionUrl}</label>
        </div>
        <div class="column grid3of5">
            <div class="boxed">
                <input type="subscriptionUrl" id="subscriptionUrl" name="subscriptionUrl" ng:model="form.interfaceSettings.subscriptionInfo.subscriptionUrl" class="formElement" required/>
            </div>
        </div>
        <div class="description">${genericRest.description.subscriptionUrl}</div>
    </div>

    <div class="row">
        <div class="column grid2of5">
            <label for="heartbeatTimeout">${genericRest.label.heartbeatTimeout}</label>
        </div>
        <div class="column grid3of5">
            <div class="boxed">
                <input type="heartbeatTimeout" id="heartbeatTimeout" name="heartbeatTimeout" ng:model="form.interfaceSettings.subscriptionInfo.heartbeatTimeout" class="formElement" required/>
            </div>
        </div>
        <div class="description">${genericRest.description.heartbeatTimeout}</div>
    </div>

    <div>
        <a href="" class="addAction floatRight"
           ng:click= "addListElement('notificationTypeList', notificationType)">${genericRest.label.add}</a>
        <h4 class="sub_content">${genericRest.header.notificationType}</h4>
        <div id="notificationTypeList" ei:sortablelist="form.interfaceSettings.subscriptionInfo.notificationTypes" style="display: none;">
            <div id="notificationType-{{$index}}" ng:repeat="notificationType in form.interfaceSettings.subscriptionInfo.notificationTypes"
                 class="eiListEntry">

                <div class="eiSortableListContent">
                    <div class="row">
                        <div class="column grid2of5">
                            <label for="referenceName-{{$index}}">${genericRest.label.referenceName}</label>
                        </div>
                        <div class="column grid3of5">
                            <div class="boxed">
                                <input type="text" id="referenceName-{{$index}}" ei:name="referenceName"
                                       ng:model="notificationType.referenceName" class="formElement" required/>
                            </div>
                        </div>
                        <div class="description">${genericRest.description.referenceName}</div>
                    </div>

                    <div class="row">
                        <div class="column grid2of5">
                            <label for="messageActive-{{$index}}">${genericRest.label.active}</label>
                        </div>
                        <div class="column grid3of5">
                            <input type="checkbox" id="messageActive-{{$index}}" ei:name="active"
                                   ng:model="notificationType.active" class="formElement"/>
                        </div>
                        <div class="description">${genericRest.description.active}</div>
                    </div>

                    <div class="row">
                        <div class="column grid2of5">
                            <label for="discardMessage-{{$index}}">${genericRest.label.discardMessage}</label>
                        </div>
                        <div class="column grid3of5">
                            <input type="checkbox" id="discardMessage-{{$index}}" ei:name="discardMessage"
                                   class="formElement"
                                   ng:model="notificationType.discardMessage"
                                   ng:change="clearMessageFieldsOnDiscard(messageType)"/>
                        </div>
                        <div class="description">${genericRest.description.discardMessage}</div>
                    </div>

                    <div class="row">
                        <div class="column grid2of5">
                            <label for="startingDataset">${genericRest.label.startingDataset}</label>
                        </div>
                        <div class="column grid3of5">
                            <div class="boxed">
                                <select id="startingDataset" ei:name="startingDataset"
                                        ng:model="form.interfaceSettings.subscriptionInfo.datasets.startingDataset" class="formElement"
                                        ng:options="ds.value as ds.label for ds in datasetsArray"
                                        required>
                                </select>
                            </div>
                        </div>
                        <div class="description">${genericRest.description.startingDataset}</div>
                    </div>

                    <div class="row">
                        <div class="column grid2of5">
                            <label for="notificationRegex-{{$index}}">${genericRest.label.notificationRegex}</label>
                        </div>
                        <div class="column grid3of5">
                            <div class="boxed">
                                <input type="text" id="notificationRegex-{{$index}}" ei:name="notificationRegex" ng:model="notificationType.notificationRegex"
                                       class="formElement" ng:pattern="regex" required/>
                            </div>
                        </div>
                        <div class="description">${genericRest.description.notificationRegex}</div>
                    </div>
                   <div>
                        <a href="" class="addAction floatRight"
                           ng:click= "addListElement('fieldTypeList', fieldType)">${genericRest.label.add}</a>
                        <h4 class="sub_content">${genericRest.header.fieldType}</h4>
                        <div id="fieldTypeList" ei:sortablelist="notificationType.fieldTypes" style="display: none;">
                            <div id="fieldType-{{$index}}" ng:repeat="fieldType in notificationType.fieldTypes"
                                 class="eiListEntry">

                                <div class="eiSortableListContent">
                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="fieldName-{{$index}}">${genericRest.label.fieldName}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <div class="boxed">
                                                <input type="text" id="fieldName-{{$index}}" ei:name="fieldName"
                                                       ng:model="fieldType.fieldName" class="formElement" required/>
                                            </div>
                                        </div>
                                        <div class="description">${genericRest.description.fieldName}</div>
                                    </div>

                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="filedActive-{{$index}}">${genericRest.label.active}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <input type="checkbox" id="filedActive-{{$index}}" ei:name="filedActive"
                                                   ng:model="fieldType.active" class="formElement"/>
                                        </div>
                                        <div class="description">${genericRest.description.active}</div>
                                    </div>

                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="fieldDiscardMessage-{{$index}}">${genericRest.label.discardMessage}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <input type="checkbox" id="fieldDiscardMessage-{{$index}}" ei:name="fieldDiscardMessage"
                                                   class="formElement"
                                                   ng:model="fieldType.discardMessage"
                                                   ng:change="clearMessageFieldsOnDiscard(messageType)"/>
                                        </div>
                                        <div class="description">${genericRest.description.discardMessage}</div>
                                    </div>

                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="fieldRegex-{{$index}}">${genericRest.label.fieldRegex}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <div class="boxed">
                                                <input type="text" id="fieldRegex-{{$index}}" ei:name="fieldRegex" ng:model="fieldType.fieldRegex"
                                                       class="formElement" ng:pattern="regex" required/>
                                            </div>
                                        </div>
                                        <div class="description">${genericRest.description.fieldRegex}</div>
                                    </div>

                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="fieldValueRegex-{{$index}}">${genericRest.label.fieldValueRegex}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <div class="boxed">
                                                <input type="text" id="fieldValueRegex-{{$index}}" ei:name="fieldValueRegex" ng:model="fieldType.fieldValueRegex"
                                                       class="formElement" ng:pattern="regex" required/>
                                            </div>
                                        </div>
                                        <div class="description">${genericRest.description.fieldRegex}</div>
                                    </div>

                                    <div class="row">
                                        <div class="column grid2of5">
                                            <label for="fieldMapping-{{$index}}">${genericRest.label.fieldMapping}</label>
                                        </div>
                                        <div class="column grid3of5">
                                            <div class="boxed">
                                            <textarea type="textAreaList" id="fieldMapping-{{$index}}" ei:name="fieldMapping"
                                                      ng:model="fieldType.fieldMapping" class="formElement" required></textarea>
                                            </div>
                                        </div>
                                        <div class="description">${genericRest.description.fieldMapping}</div>
                                    </div>

                                    <div align="right">
                                        <a href="" class="addAction"
                                           ng:click="cloneListElement('fieldTypeList', fieldType, '${genericRest.copySuffix}')">${genericRest.label.clone}</a>
                                        <a href="" class="removeAction"
                                           ng:click="removeListElement(form.interfaceSettings.subscriptionInfo.fieldTypes, fieldType)"
                                           ng:show="form.interfaceSettings.subscriptionInfo.fieldTypes.length > 1">${genericRest.label.remove}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="right">
                    <a href="" class="addAction"
                       ng:click="cloneListElement('fieldTypeList', fieldType, '${genericRest.copySuffix}')">${genericRest.label.clone}</a>
                    <a href="" class="removeAction"
                       ng:click="removeListElement(form.interfaceSettings.subscriptionInfo.notificationTypes, notificationType)"
                       ng:show="form.interfaceSettings.subscriptionInfo.notificationTypes.length > 1">${genericRest.label.remove}</a>
                </div>
            </div>
        </div>
    </div>
</fieldset>
